.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  padding: 0.9vh 6%;
  margin: 3% 4%;
  background-color: white;
  border: 1px solid black;

  p {
    font-size: 16px;
    font-weight: bold;
  }

  .icon {
    color: red;
    font-size: 19px;
  }
}