.name {
  display: flex;
  justify-content: space-between;
  width: 92%;
  padding: 1vh 6%;
  margin: 3% 4%;
  background-color: white;
  border: 1px solid black;

  p {
    font-size: 16px;
    font-weight: bold;
  }
}