.btnContainer {
    margin: 1vh 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.buttons {
	background: linear-gradient(to bottom, #f9f9f9 5%, #c9c9c9 100%);
	background-color: #f9f9f9;
	border-radius: 4px;
	border: 1px solid #353535;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
    padding: 6px 18px;
    text-shadow: 0px 1px 1px #ffffff;
    outline: none;
    
    &:hover {
        background: linear-gradient(to bottom, #c9c9c9 5%, #f9f9f9 100%);
        background-color: #c9c9c9;
    }
}

@media (min-height: 800px) {
    .buttons {
        font-size: 18px;
        font-weight: bold;
        padding: 6px 18px;
        text-shadow: 0px 1px 1px #ffffff;
        outline: none;
    }
}

@media (min-width: 1000px) {
    .btnContainer {
        width: 40%;
    }
}